/* CSS files add styling rules to your content */

body {
  background-color:color: rgba(0,0,0,0.5);
  margin: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#float-bg-1{
	top: 2%;
	left: 8%;
 	position: absolute;
 	transform: rotate(-3deg);
  transition:transform 0.2s;	
	height: 740px;
	width: 88%;
  background-image: linear-gradient(60deg, rgba(125,255,51,0.6) 20%, rgba(255, 171, 213,1) 50%, rgba(238,255,51,1) 80%); 
 	background-repeat: no-repeat;
 	z-index: -1;
}

#float-bg-1.click{
	transform: skew(10deg,5deg);
}

#float-bg-2{
	top: 800px;
	left: 2%;
	height: 600px;
	width:  90%;
	background-image: linear-gradient(188deg, rgba(63,193,255,0.5) 20%, rgba(255, 176, 59,1) 40%, rgba(255,123,172,0.5) 82%, rgba(252, 238, 33,1) 90%); 
	transform: rotate(2deg);
  transition:transform 0.2s;
	position: absolute;
 	background-repeat: no-repeat;
 	z-index: -1;
}

#float-bg-2.click{
	transform: skew(10deg,5deg);
}

#float-bg-3{
	top: 1400px;
	left: 6%;
	height: 700px;
	width:  88%;
	background-image: linear-gradient(6deg, rgba(0,55,51,1) 20%, rgba(255, 171, 213,1) 50%, rgba(238,255,51,1) 80%); 
	transform: rotate(-2deg);
  transition:transform 0.2s;
	position: absolute;
 	z-index: -1;
}

#float-bg-3.click{
	transform: skew(10deg,5deg);
}

h1 {
  font-family: 'Inconsolata','roboto', monospace;
  font-size: 16px;
}

p {

}

#intro{
  top: 50%;
  width: 80%;
  font-family:georgia,garamond,serif;
  font-size:4.5vh;
  font-style:italic;
  mix-blend-mode: multiply;
  color: rgba(0,0,0,0.8);
  position: relative;
}


table {
	vertical-align: top;
	text-align: left;
	border-spacing:0.25em;
	font-family: 'Inconsolata','roboto', monospace;
 	font-size: 2vh;
 	margin-top: 200px;
 	margin-bottom: 100px;
 	table-layout: fixed;
 	width: 100%;
}

th, td {
	vertical-align: top;
	padding: 0.25rem;
}

.date{
	width: 20%;
}

.speaker{
	width: 20%;
}
