/* CSS files add styling rules to your content */

body {
  background-color:#b0ff33;
  margin: 2em;
}

h1 {
  font-family: 'Inconsolata','roboto', monospace;
  font-size: 18px;
}

p {

}

#intro{
  width: 80%;
  font-family:georgia,garamond,serif;
  font-size:50px;
  font-style:italic;
}